@media  screen and (max-width: 500px) and (min-width:350px) {

header {
}


.slogan {
  width:100%;
  position:absolute;
  top:25%;
  margin-left:12%;
}

.sort {
  margin-top:25%;
  height:60px;
}


.imagecontainer img{
  width:350px;
  height:350px;
  position: relative;
  clear:left;
  float:left;
}




}
