@import "mobile";

$fontcolor: #50555A;
$lato: "Lato", sans-serif;
$oswald: "Oswald", sans-serif;
$border: 6px solid white;
$textspacing: .4px;
$accentcolor: #F4DD65;


*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #F1F4F7;
}

.container {
  max-width: 1200px;
  width:75%;
  margin: 0 auto;
  font-size:100%;
}

header {
  margin-bottom:7%;
  margin-top:7%;

  .logo img {
    width:25%;
    height:25%;
    position:relative;
  }
  .logo2 img {
    width:15%;
    height:15%;
    position:relative;
  }
  .counter img{
    width:2.5%;
    height:auto;
    float:right;
    margin-top: -22.5%;
    margin-right: 3%;
    position:relative;
  }
  .counter2 img{
    width:2.5%;
    height:auto;
    float:right;
    margin-top: -12%;
    margin-right: 3%;
    position:relative;
  }
}

h1 {
  color: $fontcolor;
  font-family:$lato;
  font-size:1.35vw;
  position:relative;
  float:right;
  margin-top:-22.75%;
}

h2 {
  color: $fontcolor;
  font-family:$lato;
  font-size:3.5vw;
  text-align: right;
}

h5 {
  color: $fontcolor;
  font-family:$lato;
  font-size:1.35vw;
  position:relative;
  float:right;
  margin-top:-12%;
}

.faves {
  position: relative;
  padding-top:15%;
}


.slogan {
  width:60%;
  float:right;
  margin-top:-15%;
}

.sort {
  background-color:#CCD2D9;
  opacity:.75;
  margin-bottom:7%;
  padding:.5% 0% .5% 0%;
  border: $border;

  ul {
    list-style-type: none;
  }

    .added {
    margin-left:-25%;
    text-transform: uppercase;
    color: #80878e;
    font-size:2vw;
    }

    .yesterday {
    font-weight:900;
    color:black;
    text-decoration: none;
    text-transform: uppercase;
    font-size:1.65vw;
    }

    li {
      display: inline-block;
      font-family:$oswald;
      color:$fontcolor;
      font-size:1.65vw;
      margin-right:2%;
      letter-spacing: $textspacing;
    }

}

.imagecontainer {
  position: relative;
  width:28%;
  padding-bottom:28%;
  height: 0;
  float:left;
  margin-bottom:7%;
  border: $border;
  background-color: white;
  }
    .add-designs {
      margin-left:15%;
    }

    img {
    width:100%;
    height:100%;
    position:absolute;
    object-fit:cover;
    }

    /*column 1*/
   .imagecontainer:nth-child(3n+1){
    float: left;
    }

    /*column 2*/
    .imagecontainer:nth-child(3n+4){
    margin-left: 8%;
    }

    /*column 3*/
    .imagecontainer:nth-child(3n+2){
    float: right;
    margin-right:0%;
    }

    .productoverlay {
      background-color: white;
      opacity:.6;
      position:absolute;
      padding:1%;
      margin-top:82%;
      width:100%;
      height:25%;
    }

    .like img{
      position:relative;
      width:15%;
      float:right;
      margin-right:-11%;
      margin-top:87%;
      opacity:.8;
    }

    .expand img{
      position:relative;
      width:13%;
      float:right;
      padding-top:3%;
      padding-right:3%;
    }

    h3 {
      font-family: $oswald;
      line-height: .5%;
      font-size:1.2vw;
      text-transform: uppercase;
      margin-left:1%;

    }

    h4 {
      font-family: $oswald;
      line-height: .5%;
      font-size: 1vw;
      text-transform: uppercase;
      margin-left:1%;
    }

    p {
      margin-top:9%;
    }

a:link {
  color:$fontcolor;
  text-decoration: none;
}

a:visited {
  color:$fontcolor;
  text-decoration: none;
}

a:hover {
  color:#50555A;
  text-decoration: none;
}

a:active {
  color:#50555A;
  text-decoration: none;
}


